.visualizer {
    display: flex;
    gap: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.5s; /* 0.5s 지연 후 서서히 나타나도록 설정 */
  }
  
  .recording .visualizer {
    opacity: 1;
  }
  
  .bar {
    width: 50px; /* 기본 타원의 폭 */
    height: 50px; /* 최소 길이 설정(=baseHeight) */
    background-color: rgb(0, 0, 0); /* 타원의 색상을 하얀색으로 설정 */
    border-radius: 25px; /* 타원의 둥근 모서리 설정 */
    transition: height 0.2s ease, transform 0.2s ease;
  }
  