.App {
  text-align: center;
  background-color: black; /* 배경색을 검은색으로 설정 */
  color: white; /* 기본 텍스트 색상을 하얀색으로 설정 */
  min-height: 100vh; /* 화면 전체를 채우도록 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visualizer-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

.initial-circle {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.recording .initial-circle {
  transform: scale(0);
  opacity: 0;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}
